@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color: #fff; text-shadow: 1px 1px 8px #222;">
        Welcome to My Employee Page
    </h1>
</div>
